<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
    <title>A server</title>
</head>
<body>
A server
<pre id="packets"></pre>
<script>
    var socket = new WebSocket("ws://localhost:5000/packets/consume")
    var maxRows = 1024
    var rows = []
    var display = document.getElementById('packets')
    socket.onmessage = function(event) {
        var packet = JSON.parse(event.data)
        if (rows.length > maxRows) {
            rows.shift()
        }
        rows.push(JSON.stringify(packet))
        display.innerText = rows.join('\n')
    };
</script>
</body>
</html>
